body{
  font-family: 'Inter', sans-serif;
}
.body-dark{
  font-family: 'Inter', sans-serif;
  background-color: #282D35;
}

* {
  margin: 0px;
  padding: 0px;
}
.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main{
  flex: 1 1 auto;
}
.main-dark{
  flex: 1 1 auto;
  background-color: #282D35;
  color: white;
}
.upcoming--details {
  border: 1px solid;
  width: 300px;
  height: 350px;
  float: right;
  margin-right: 2%;
  margin-top: 5%;
  overflow-y: scroll;
}
.upcoming--header{
  border: 1px solid;
  padding: 10px;
  text-align: center;
  background-color: rgb(58, 202, 58);
  color: white;
  
}
.single-news{
  border-bottom: 1px solid;
  padding: 10px;
  font-size: 16px;
}
.personal-details{
  text-align: center;
}